@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-decoration-color:lightgreen;">
    <h1>EveryNote</h1>
    <p class="lead" style="font-size: 24px;">A Free Note taking application that can track all of your To Do's!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p style="font-size: 18px;">
            With EveryNote you can Create, Edit, and Delete notes once they are no longer needed!
            You can even Star important notes, so they stand out.  EveryNote will help you track all
            of your tasks!
        </p>
    </div>   
</div>