
@{
    ViewBag.Title = "Info";
}

<h1 style="text-decoration-color:aquamarine;">EveryNote Information</h1><br /><br />

<div>
    <p style="font-family:Arial, Helvetica, sans-serif; font-size:18px;">
        Welcome to EveryNote!<br /><br />  EveryNote is our simple note taking application to keep
        all of your simple Notes, ToDo list, and Reminders. Now you can get rid of all the pieces of
        paper, or things you have to remember. Just track them in EveryNote! Simply register for an
        account and begin tracking your notes.
    </p>

    <p style="font-family:Arial, Helvetica, sans-serif; font-size:18px;">
        EveryNote gives you a date created, and allows you place a star on important notes to bring
        them to your attention.  The EveryNote Application also gives you the ability to view the details
        of your notes, filter, and edit them.  When your note is no longer needed, simply delete it!
    </p>

    <p style="font-family:Arial, Helvetica, sans-serif; font-size:18px;">
        We hope you enjoy using EveryNote.  
    </p>

</div>