
@{
    ViewBag.Title = "Info";
}

<h1 style="text-decoration-color:aquamarine;">EveryNote Information</h1><br /><br />

<div>
    <p style="font-family:Arial, Helvetica, sans-serif; font-size:18px;">
        Welcome to EveryNote!<br /><br />  EveryNote is our simple note taking application to keep all of your
        simple todo list, notes, and reminders.  Simply register for an account and begin
        tracking your notes.  EveryNote gives you a date created and allows you to Star
        those important notes to bring them to your attention.
    </p>

    <p style="font-family:Arial, Helvetica, sans-serif; font-size:18px;">
        EveryNote also gives you the ability to view the details of your notes, filter notes,
        as well as edit notes.  When a note is no longer needed, simply delete it!  We hope you enjoy
        EveryNote.  EveryNote can allow you to get rid of all the pieces of paper or things you hold in
        your head.  Just track them in Everynote!
    </p>

</div>